html, body {
    margin: 0;
    padding: 0;
    max-width: 375px;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
}

.separator {
    background-color: #ededed;
    height: 1.5rem;
    margin: 1rem 0 0;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 70px;
    border-bottom: 1px solid #c6c6c6;
}

header img {
    width: 100%;
}

.logo-container {
    width: 50%;
}

.user-img-container {
    width: 15%;
}

.user-img {
    border-radius: 50%;
}

/* POST HEADER */

.post-header {
    display: flex;
    align-items: center;
    padding: .75rem;
}

.post-header-img-container {
    width: 15%;
    margin-right: .5rem;
}

.post-header-img {
    width: 100%;
    border-radius: 50%;
}

.post-header-user {

    font-weight: 700;
}

/* POST IMAGE */

.post-img {
    width: 100%;
}

/* POST BUTTONS */

.buttons-container {
    display: flex;
}

.button-img-container {
    width: 1.5rem;
    margin: 1rem .5rem .5rem;
}

.icon {
    width: 100%;
}

.icon:hover {
    opacity: 0.5;
}

/* POST LIKES */

.post-likes {
    padding: 0 .5rem;
    font-weight: 700;
}

/* POST COMMENTS */

.comments {
    padding: .5rem;
}

.comment-name {
    font-weight: 700;
}