html, body {
    margin: 0;
    padding: 0;
    max-width: 375px;
    margin: 0 auto;
    outline: 1px dashed red;
    font-family: 'Source Sans Pro', sans-serif;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 70px;
}

header img {
    width: 100%;
}

.logo-container {
    width: 50%;
}

.user-img-container {
    width: 15%;
}

.user-img {
    border-radius: 50%;
}

/* POST */

.post {
    outline: 1px solid red;
}

.post-header {
    /* outline: 1px solid orange; */
    display: flex;
    align-items: center;
    padding: .75rem;
}

    .post-header-img-container {
        /* outline: 1px solid red; */
        width: 15%;
        margin-right: .5rem;
    }

    .post-header-img {
        width: 100%;
        border-radius: 50%;
    }

    .post-header-text {
        /* outline: 1px solid orange; */
    }

    .post-header-user {
        /* outline: 1px solid green; */
        font-weight: 700;
    }

    .post-header-location {
        /* outline: 1px solid blue; */
    }

.post-img-container {
    /* outline: 2px solid yellow; */
}

    .post-img {
        width: 100%;
    }

.buttons {
    outline: 1px solid green;
}

.comments {
    outline: 1px solid blue;
}
